---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import IndustryCard from "../components/industrias/IndustryCard.astro";

const sections = [
  {
    bg: "bg-white",
    items: [
      {
        title: "Competitividad",
        description:
          "Mejorar productividad, empleabilidad e ingresos de la Población en Edad de Trabajar (PET) en diversas circunscripciones territoriales y zonas económicas.",
        image:
          "https://res.cloudinary.com/ccdcloudy/image/upload/v1772640888/Web%20CCD/Capacidades%20e%20Industrias/Competitividad/Competitividad_inpcde.webp",
        slug: "competitividad",
        span: "col-span-6 md:col-span-3 lg:col-span-3",
      },
      {
        title: "Desarrollo",
        description:
          "Mejorar la calidad de vida de las personas de manera integral, para circunscripciones: país, estado, región, provincia, distrito y comunidad.",
        image:
          "https://res.cloudinary.com/ccdcloudy/image/upload/v1772640288/Web%20CCD/Capacidades%20e%20Industrias/Desarrollo/Desarrollo_xepqfz.webp",
        slug: "desarrollo",
        span: "col-span-6 md:col-span-3 lg:col-span-3",
      },
    ],
  },
  {
    bg: "bg-gradient-to-t from-secondary-light/20 to-secondary",
    items: [
      {
        title: "Corredores Económicos Territoriales",
        description:
          "Desarrollo integrado del área de influencia o de más de una circunscripción territorial: países, regiones, provincias, distritos y/o comunidades.",
        image:
          "https://res.cloudinary.com/ccdcloudy/image/upload/v1772641842/Web%20CCD/Capacidades%20e%20Industrias/Corredores/Corredores_wctx4s.webp",
        slug: "corredores",
        span: "col-span-6 md:col-span-3 lg:col-span-2",
      },
      {
        title: "Inversiones y Proyectos",
        description:
          "Inversiones y proyectos permiten reducir y cerrar brechas, desarrollo y mejoran calidad de vida de la población.",
        image:
          "https://res.cloudinary.com/ccdcloudy/image/upload/v1772644229/Web%20CCD/Capacidades%20e%20Industrias/Inversiones/inversiones2_gxdoll.jpg",
        slug: "inversiones",
        span: "col-span-6 md:col-span-3 lg:col-span-2",
      },
      {
        title: "Evaluación de Programas y Proyectos",
        description:
          "Mayores calidad y rendimientos esperados de la inversión social en el área de influencia.",
        image:
          "https://res.cloudinary.com/ccdcloudy/image/upload/v1772641630/Web%20CCD/Capacidades%20e%20Industrias/Evaluaci%C3%B3n%20de%20Programas/Evaluacion_paq2ri.webp",
        slug: "evaluacion",
        span: "col-span-6 md:col-span-3 lg:col-span-2",
      },
    ],
  },
  {
    bg: "bg-gray-200",
    items: [
      {
        title: "Fondos de Desarrollo",
        description:
          "Los fondos de desarrollo locales o comunales (públicos, privados o públicos-privados), con adecuada gobernanza, contribuyen con la gestión social de la empresa.",
        image:
          "https://res.cloudinary.com/ccdcloudy/image/upload/v1772641183/Web%20CCD/Capacidades%20e%20Industrias/Fondos%20de%20Desarrollo/Fondos_fljzpp.webp",
        slug: "fondos",
        span: "col-span-6 md:col-span-3 lg:col-span-3",
      },
      {
        title: "Fortalecimiento de Capacidades y Capital Humano",
        description:
          "Desarrollamos capital humano e institucional para impulsar el desarrollo sostenible.",
        image:
          "https://res.cloudinary.com/ccdcloudy/image/upload/v1772640780/Web%20CCD/Capacidades%20e%20Industrias/Fortalecimiento/Fortalecimiento_hk8y2r.webp",
        slug: "fortalecimiento",
        span: "col-span-6 md:col-span-3 lg:col-span-3",
      },
    ],
  },
];

const headerImage =
  "https://res.cloudinary.com/ccdcloudy/image/upload/v1773273741/Web%20CCD/Capacidades%20e%20Industrias/vitaly-gariev-_BHlEskTT4c-unsplash_nnbaf7.jpg";
---

<Layout title="Nuestras Capacidades - CCD">
  <!-- HEADER SECTION -->
  <PageHeader title="Nuestras Capacidades" backgroundImage={headerImage} />

  {
    sections.map((section) => (
      <section class={`${section.bg} py-20`}>
        <div class="container mx-auto px-6 max-w-[1600px]">
          <div class="grid grid-cols-6 gap-x-8 gap-y-16">
            {section.items.map((capacidad) => (
              <IndustryCard
                title={capacidad.title}
                description={capacidad.description}
                image={capacidad.image}
                link={`/capacidades/${capacidad.slug}`}
                colSpan={capacidad.span}
              />
            ))}
          </div>
        </div>
      </section>
    ))
  }
</Layout>
